*{
    margin : 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Andika:wght@700&family=Inter:wght@500&family=Roboto:wght@500&display=swap');

body{
    cursor: none;
    background-color: #041C32;
}

/* navbar */
#nabar{
    margin: 30px 80px;
    display: flex;
    cursor: none;
}
#nabar a{
    color: #FFFFFF;
}
@media (max-width:576px){
    #nabar {
        margin: 30px 10px;
    }
}
#logo{
    margin-right: auto;
}
.navbar-brand{
    font-family: 'Roboto',sans-serif;
}
#navbarNav{
    margin-right: auto;
    font-family: 'roboto',sans-serif;
}


/*animation*/
.hidden {
    opacity:0;
}
.console-container {
    font-family:'Roboto',sans-serif;
    font-size:2em;
    text-align:left;
    color:white;
    font-weight: bolder;
}
.console-underscore {
     display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
}
/*cursor animation*/
 .cursor0{
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s;
}
 .cursor1{
    position: fixed;
    width: 8px;
    height: 8px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .15s;
 }
/*cursor animation*/


/*konten*/
#tag1 h1{
    z-index: 1;
    font-size: 3rem;
    letter-spacing: 3px;
    position: absolute;
    transform: rotate(90deg); 
    transform-origin: 0 ; 
    color: rgba(255, 255, 255,0.1);
    margin-left: 10px;
}
#tag2{
    margin-left: 60px;
}
#tag2 h1,p,a{
    text-decoration: none;
    color: #FFFFFF;
}
#logo{
    margin-top: 50px;
    display: flex;
    gap: 15px;
}

#gambar1 img{
    max-width: 100%;
}
#content2{
    margin-top: 25px;
}
#gambar2 img{
    max-width: 100%;
}
.container{
    margin-bottom: 45px;
}

