*{
    margin : 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Andika:wght@700&family=Inter:wght@500&family=Roboto:wght@500&display=swap');

body{
    cursor: none;
    background-color: #1A1A40 ;
}

/* navbar */
#nabar{
    margin: 30px 80px;
    display: flex;
    cursor: none;
}
@media (max-width:576px){
    #nabar {
        margin: 30px 10px;
    }
}
#logo{
    margin-right: auto;
}
.navbar-brand{
    font-family: 'Roboto',sans-serif;
}
#navbarNav{
    margin-right: auto;
    font-family: 'roboto',sans-serif;
}


/*animation*/
.hidden {
    opacity:0;
}
.console-container {
    font-family:'Roboto',sans-serif;
    font-size:2em;
    text-align:left;
    color:white;
    font-weight: bolder;
}
.console-underscore {
     display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
}
/*cursor animation*/
 .cursor0{
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s;
}
 .cursor1{
    position: fixed;
    width: 8px;
    height: 8px;
    border: 1px solid black;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .15s;
 }
/*cursor animation*/
