*{
    margin : 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Andika:wght@700&family=Inter:wght@500&family=Roboto:wght@500&display=swap');

/* navbar */
#nabar{
    margin: 30px 80px;
    display: flex;
}
#logo{
    margin-right: auto;
}
.navbar-brand{
    font-family: 'Roboto',sans-serif;
}
#navbarNav{
    margin-right: auto;
    font-family: 'roboto',sans-serif;
}
#tag{
    width: max-content;
    height: max-content;
}
#tag{
    margin: 0;
    padding: 0;
}
#tag1 h1{
    z-index: 1;
    font-size: 3rem;
    letter-spacing: 3px;
    position: absolute;
    transform: rotate(90deg); 
    transform-origin: 0 ; 
    color: rgba(0, 0, 0,0.1);
    margin-left: 10px;
}
#tag2{
    margin-left: 60px;
}
#tag2 a{
    text-decoration: none;
    color: black;
}
.logo{
    margin-top: 50px;
    display: flex;
    gap: 15px;
}